.pokedex-index {
    margin: 0 auto;
    margin-top: 2%;
    background-color: rgba(245, 245, 245, 0.6);
    border-radius: 20px;
    max-width: max-content;
    font-size: 14px;
    overflow: hidden;
}

.pokedex-index th, .pokedex-index td {
    padding: 10px 15px;
    border: 1px solid #CCC;
}

.pokedex-index th {
    background-color: #EDEDED;
    font-weight: bold;
}

.pokedex-index tr:nth-child(even) td {
    background-color: rgba(245, 245, 245, 0.6);
}

.pokedex-index tr:hover td {
    animation: updown 2s infinite;
}