#details-button {
    margin-left: .5rem;
    display: inline-block;
    padding: .3em;
    text-decoration: none;
    border: 2px solid #8FE3FF;
    background-color: #8FE3FF;
    border-radius: 6px;
    color: black;
    text-align: center;
}
#details-button:hover {
    background-color: lightgreen;
    border: 2px solid lightgreen;
}

#button-table {
    margin-left: .2rem;
    display: inline-block;
    padding: .3em;
    text-decoration: none;
    border: 2px solid #8FE3FF;
    background-color: #8FE3FF;
    border-radius: 6px;
    color: black;
    font-weight: normal;
    text-align: center;
}
#button-table:hover {
    background-color: red;
    border: 2px solid red;
}
#pokemon-name-table {
    text-transform: capitalize;
    width: 80px;
}

.list-row:hover {
    animation: updown 2s infinite;
}