@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body {
  background-color: #4A4056;
  background-image: url(https://cdn.wallpapersafari.com/4/38/mOfcQ2.png);
  background-attachment: fixed;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  
}
  
.App {
  text-align: center;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}