body {
  background-color: #4A4056;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-1px);
  }
  50% {
    transform: translateX(1px);
  }
  75% {
    transform: translateX(-1px);
  }
  100% {
    transform: translateX(0);
  }
}

.board {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  margin: 0 auto;
  width: 600px;
  height: 508px;
  background-image: url(../../../images/env-1.png) ;
  background-repeat: no-repeat;
  background-size: cover;
}

#board-sprite {
  background-size: contain;
  background-repeat: no-repeat;
  grid-row: 3 / 4;
  grid-column: 3 / 4;
}

.character-sprite {
  height: 100%;
}

.sprite > img {
  background-size:contain;
  background-repeat: no-repeat;
  max-height:100%;
}

.active-wild{
  background-color: green;
}

.wild-pokemon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.wild-pokemon > img {
  height:100%;

}

.wild-pokemon > img:hover {
  background-image: radial-gradient(ellipse, #130db8, transparent 60%);
}