body {
  background-color: #4A4056;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-1px);
  }
  50% {
    transform: translateX(1px);
  }
  75% {
    transform: translateX(-1px);
  }
  100% {
    transform: translateX(0);
  }
}

.board {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  margin: 0 auto;
  width: 600px;
  height: 500px;
  background-image: url(../../../images/env-1.png) ;
  background-repeat: no-repeat;
  background-size: cover;
}

#board-sprite {
  background-image: url(../../../images/trainer-sprite.png);
  background-size: contain;
  background-repeat: no-repeat;
  scale: 180%;
  grid-row: 4 / span 1;
  grid-column: 4 / span 1;
}

#pokemon1 {
  grid-row: 4 /span 1;
  grid-column: 2 /span 1;
  background-image: url("https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/132.png");
  background-size: contain;
  background-repeat: no-repeat;
  scale: 160%;
  animation: shake 3s infinite;
}

